.education {
    padding: 50px;
    background: palevioletred;
    color: #fff;
    text-align: center;
}

.education h1 {
    font-size: 40px;
    margin-bottom:50px;
}

.timeline {
    max-width: 700px;
    margin: auto;
    position: relative;
    border-left: white;
    padding-left: 20px;
}

.edu-box {
    background: rgb(176, 67, 85);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    text-align: left;
    position: relative;
}

.edu-box::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 20px;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
}

.edu-box h2 {
    margin-bottom: 5px;
}

.edu-box span {
    font-size: 14px;
    color: white;
}

.edu-box p {
    margin-top: 10px;
    color: white;
}
.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.btn-box a{
    background-color: white;
    color: palevioletred;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}
.btn-box a:hover{
    background-color: white;
    transform: scale(1.05);
}