body{
    background: palevioletred;
    color: #ffffff;
}

.musics{
    height: 350px;
    margin: 30px;
}

h1{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.music-container {
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.music{
    background: rgb(104, 40, 61);
    text-align: center;
    gap: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px auto;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
}
.music:hover {
    background: rgb(151, 30, 70);
    cursor: pointer;
    transform: scale(1.05);
}

.music img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 20px;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.btn{
    background-color: white;
    color: palevioletred;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    transform: scale(1.05);
}