.contact {
    padding: 50px;
    background: palevioletred;
    color: #fff;
    text-align: center;
}

.contact h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.contact-container {
    max-width: 500px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: rgb(199, 39, 93);
    color: #fff;
    font-size: 14px;
}

input::placeholder,
textarea::placeholder {
    color: grey;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: pink;
    color: rgb(21, 15, 15);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: rgb(199, 39, 93);
}
.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 35px;
}
.btn-box a{
    background-color: white;
    color: palevioletred;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}
.btn-box a:hover{
    background-color: white;
    transform: scale(1.05);
}